.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}

section {
  scroll-margin-top: 70px;
}

.certificates-img {
  width: 100%;
}

#certificates .row > * {
  padding: 0;
}
